<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon site {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="  {{ asset('bundles/galtuser/css/themes/base/jquery.ui.all.css') }} ">
        <link rel="stylesheet" href=" {{ asset('bundles/galteruser/css/demo.css') }}">

    {% endblock %}
    {% block javascripts_head%}





        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

        <script type="text/javascript" src="{{ asset('bundles/galteruser/js/bootstrap.min.js') }}"></script>

    {% endblock %}




</head>

<body>





{% block menu %}

{% endblock %}








{% block body %}
{% endblock %}




{% block footer %}

{% endblock %}



{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}



</body>

</html>