{#{% extends '::base.html.twig' %}#}

{#{% block body -%}#}
    {#<h1>RemarqueTuteurRapport creation</h1>#}

    {#{{ form(form) }}#}

      {##}
{#{% endblock %}#}


{% extends 'GAlterUserBundle::layout.html.twig' %}


{% block titre %}       <div class="well" style="height: 70px">
    Laisser une remarque à l'intention de l'étudiant  </div> {% endblock %}
{% block corps %}
    <div class="well" style="height: 150px">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.contenu, "Remarque(s)",{'label_attr': {'class':'col-sm-4 control-label'}}) }}
            {{ form_errors(form.contenu)}}
            <div class="col-sm-4">
                {{ form_widget(form.contenu, {'attr': {'class' : 'col-sm-7 form-control', 'type': 'textarea'}}) }}

            </div>
        </div>


        {{ form_widget(form.submit, {'attr': {'class' : ' col-sm-offset-5  col-sm-3 btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>

{% endblock %}


