<html>
<body>
{% for rap in rapports %}
    <div class="row">
        <div class="col-sm-2">
            <div class="glyphicon glyphicon-user"> par {{ rap.etudiant.prenom }} a {{ rap.date | date('Y-d-m')}}</div>
        </div>
        <div class="col-sm-8">
            <div class="glyphicon glyphicon-time"> Periode de {{ rap.periodedebut | date('Y-d-m')}} a {{ rap.periodefin | date('Y-d-m') }}</div>
        </div>
    </div>
    <hr/>

<div  class="well" style="border: solid">
        <h3>{{ rap.contenu | raw}}</h3>
</div>
    <br/>
    <br/>
{% endfor %}

</body>
</html>
