{%  extends "GAlterUserBundle::layout.html.twig" %}
{% block corps%}
    <h1>Agenda list</h1>





    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr class="info">
                <th>

                    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-calendar  fa-stack-1x"></i>
</span>Date</th>
                <th>Type</th>
                {% if is_granted ('ROLE_TUTEUR') %}

                    <th><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-university  fa-stack-1x"></i>
</span>Entreprise</th>

                {% elseif is_granted ('ROLE_TUTEUR_ENTREPRISE') %}

                    <th>
                    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-university  fa-stack-1x"></i>
</span>Etablissement</th>
                {% endif %}

                <th>
                    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-user  fa-stack-1x"></i>
</span>Tuteur </th>
                <th>
                    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-graduation-cap  fa-stack-1x"></i>
</span>Etudiant(e) concerné(e)</th>

            </tr>
            </thead>
            <tbody>

                {% for agendass in agendas %}

                    {% for agenda in agendass %}
                    <tr>
                    <td class="danger"> {{ agenda.date|date}}</td>
                    <td class="danger">

                    {% if agenda.type== 'telephonique' %}

                        <i class="fa fa-phone"></i> {{ agenda.Type }}</td>


                    {% else %}


                        {{ agenda.Type }}
                        </td>
                    {% endif %}


                    {% if is_granted ('ROLE_TUTEUR') %}
                        <td class="danger"> {{ agenda.etudiant.tuteurentreprise.organisation }}</td>
                        <td class="danger"> {{ agenda.etudiant.tuteurentreprise }}</td>


                    {% elseif is_granted ('ROLE_TUTEUR_ENTREPRISE') %}
                        <td class="danger"> {{ agenda.etudiant.tuteur.organisation }}</td>
                        <td class="danger">{{ agenda.etudiant.tuteur }}</td>


                    {% endif %}

                    <td class="danger">{{ agenda.etudiant.username }}  {{ agenda.etudiant.prenom }} </td>


                    </tr>
                   {% endfor %}
                {% endfor %}



            </tbody>
        </table>
    </div>

{% endblock %}
