{% extends "GAlterUserBundle::layout.html.twig"%}

{% block corps %}
    <div class="container">
        <div class="page-header">
            <h1 id="timeline">Rapports</h1>
        </div>

        <form action="{{ path('exporter_tout', {"rapports": "rapp"}) }}"  method="POST" >
            <button type="submit">exporter</button>
        </form>
        <ul class="timeline">
            {% for entity in entities %}
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{ entity.etudiant.prenom }}
                            </h4>
                            <p>
                                <small class="text-muted"><i class="glyphicon glyphicon-briefcase"></i>
                                    du {{ entity.periodedebut | date('Y-d-m')}} à {{ entity.periodefin | date('Y-d-m') }}
                                </small>
                            </p>
                            <p>
                                <small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                    {{ entity.textaudit }} le {{ entity.date | date('Y-d-m')}}
                                </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            {{ entity.contenu | raw}}

                        </div>
                        <div class="btn-groupe" role="toolbar">
                            {% if is_granted("ROLE_ETUDIANT") %}
                                <a class="btn btn-success glyphicon glyphicon-pencil" href="{{ path('rapport_edit',{'id': entity.id}) }}"></a>
                                <a class="btn btn-danger glyphicon  glyphicon-trash" href="{{ path('rapport_delete',{'id':entity.id}) }}"></a>

                            {% endif %}
                          {# visible  uniquemen t#}
                            {% if is_granted("ROLE_TUTEUR")%}
                            <a class="btn btn-primary glyphicon glyphicon-comment" href=""></a>
                            <a class="btn btn-danger" href=""><span class=" glyphicon glyphicon-envelope"></span></a>
                            {% endif %}

                        </div>
                    </div>
                </li>
                {% for remarque in entity.remarque %}
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">remarque.tuteurId.nom</h4>
                            </div>
                            <div class="timeline-body">
                                {{ remarque.contenu }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}


            {% endfor %}
        </ul>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('rapport') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}