{% extends "GAlterUserBundle::layout.html.twig" %}


{% block titre %}  Liste des formations  {% endblock %}

{% block corps%}

    <a href="{{ path('formation_new')}}">  <button type="button" class="btn btn-primary btn-lg">Creer une nouvelle formation</button> </a>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr class="success">

                <th>Libelle</th>
                <th>Description</th>
                <th>Departement</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="warning">
                    <td>{{ entity.libelle }}</td>

                    <td>{{ entity.description }}</td>
                    <td>{{ entity.departement }}</td>

                    <td class="text-center"><a href="{{ path('formation_edit',{'id':entity.id}) }}">  <button type="button" class="btn btn-primary">Editer</button> </a>

                        </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
