{% extends "GAlterUserBundle::layout.html.twig" %}

{% block titre %}  Creation d'une formation  {% endblock %}

{% block corps %}

<div class="well" style="height: 200px">

    <form  class=" form-inline" action="{{ path('formation_create') }}" method="post" {{form_enctype(form)}}>




        <div class="form-group">
            <label class="control-label">Libelle</label>


            {{ form_widget(form.libelle, { 'attr' : { 'class':'form-control'} }) }}

        </div>
        <div class="form-group">
            <label class="control-label"> Description</label>

            {{ form_widget(form.description, { 'attr' : { 'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label class="control-label">Departement</label>

            {{ form_widget(form.departement, { 'attr' : { 'class':'form-control', 'required':'required'}}) }}

        </div>



        <button class="btn btn-success btn-sm" type="submit">creer</button>

        {{ form(form) }}


    </form>

</div>


{% endblock %}
