{% extends "GAlterUserBundle::layout.html.twig" %}

{% block corps %}
    {% trans_default_domain 'FOSUserBundle' %}
   <h1> formulaire reponsable </h1>


    <form action="{{ path('user_three_registration') }}" method="post" {{form_enctype(form)}}>

        {{ form_errors(form) }}

        <div>


            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}



            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}

            {{ form_label(form.formation) }}
            {{ form_widget(form.formation) }}
            {{ form_errors(form.formation) }}

            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
            {{ form_errors(form.prenom) }}
        </div>



        <div>

            {{ form_row(form.plainPassword) }}
            {{ form_row(form.RespContrat) }}
            {{ form_row(form.email) }}

            {{ form_row(form.telephone) }}

            {{ form_row(form.adresse) }}

        </div>

        <div>




        </div>



        {% if is_granted ('ROLE_ADMIN') %}
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
            {{ form_errors(form.roles) }}


        {% else %}
            {{ form_widget(form.roles, { 'attr' : { 'style':'display:none'} }) }}
            {{ form_errors(form.roles, { 'attr' : { 'style':'display:none'} }) }}
        {% endif %}
        <input type="submit" value="Ok"/>

        {{form_rest(form)}}
    </form>




{% endblock  %}