{% extends "GAlterUserBundle::layout.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}


    <form action="{{ path('user_one_registration') }}" method="post" {{form_enctype(form)}}>

        {{ form_errors(form) }}

        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        {{ form_label(form.Tuteur) }}
        {{ form_widget(form.Tuteur) }}


        {{ form_widget(form.plainPassword) }}

        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone) }}

        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse) }}

        {{ form_label(form.typecontrat) }}
        {{ form_widget(form.typecontrat) }}

        {{ form_label(form.information_contrat) }}
        {{ form_widget(form.information_contrat) }}


        {% if is_granted ('ROLE_ADMIN') %}
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
            {{ form_errors(form.roles) }}


        {% else %}
            {{ form_widget(form.roles, { 'attr' : { 'style':'display:none'} }) }}
            {{ form_errors(form.roles, { 'attr' : { 'style':'display:none'} }) }}
        {% endif %}
        <input type="submit" value="Ok"/>

        {{form_rest(form)}}
    </form>
{% endblock content %}